body{
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #314281;

}

header{
    background-color: #0d0294;
    padding: 1rem 10px;
    text-align: center;
}
header span{
    color: white;
}








main{
    padding: 1rem 10px;
    color: rgb(255, 249, 249);
}

main h1{
    font-family: "Knewave", sans-serif;
    font-weight: 300;
    color: rgb(255, 249, 249);
    text-align: center;
}

main p{
    text-align: center;
}

main a{
    color: rgb(255, 249, 249);
}

main hr{
    color: black;
}

