body{
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #314281;
}

header{
    background-color: #0d0294;
    padding: 1rem 10px;
    padding-bottom: .5rem;
    text-align: center;
    font-size: 1.1rem;
}
header span{
    color: white;
}

/*good LORD was centering this thing annoying*/
/*note to self: use display and place-items for centering content (unless i find a more "correct" method*/
nav{
    background-color: #0d0294;
    padding: 5px 3rem 0px 0px;
    margin: 0;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    border: rgb(0, 0, 70);
    border-style: solid;
    padding: 10px;
    background-color: #0a016e;
}

nav a {
    color: rgb(255, 249, 249);
    text-decoration: none;
    font-size: 1.1rem;
}
nav li a:hover{
    color: rgb(109, 160, 255);
}



main{
    padding: 3rem 2rem;
    color: rgb(255, 249, 249);
}

main span p{
    font-size: 1.1rem;
}

main h1{
    font-family: "Knewave", sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
    color: rgb(255, 249, 249);
    -webkit-text-stroke: 2px black;
    text-align: center;
}

main h2{
    color: rgb(255, 249, 249);
}
main span h2{
    text-align: center;
}

main p{
    text-align: center;
    color: rgb(255, 249, 249)
}

main ul{
    list-style-type: none;
    text-align: center;
    color: rgb(255, 249, 249);
    background-color: rgba(231, 71, 59, 0.9);
    padding-right: 3rem;
    margin: auto;

    width: 5rem;
    height: 10rem;



    border: #ffb60c;
    border-style: solid;
    border-radius: 1rem;

    display: grid;
    place-items: center;

    
}

main span h3{
    background-color: rgb(47, 49, 51, .75);
    border: #000000;
    border-style: solid;
    border-bottom: hidden;
    border-width: .2rem;
    width: 9.5rem;
    margin: 0;
    padding-bottom: .5rem;
    text-decoration-line: underline;
    text-align: center;
}

main ol{
    background-color: rgb(47, 49, 51, .75);
    border: #000000;
    border-style: solid;
    border-top: hidden;
    border-width: .2rem;

    width: 7rem;
    margin: 0;
    padding-bottom: .5rem;
}

main a{
    color: rgb(253, 248, 248);
    text-decoration: none;
    font-weight: bolder;
}

main hr{
    color: black;
}
main li a:hover{
    color: rgb(109, 160, 255);
}


footer{
    color: rgb(255,249,249);
}